body {
  background-color: #c9b5ab;
  line-height: 1.5;
}
h1, h2 {
  color: #3f1622;
  font-family: 'PT Sans', sans-serif;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.5rem;
}

nav {
  font-size: 1.125rem;
  font-family: 'PT Sans', sans-serif;
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
}

.dts {
  list-style-type: circle;
}

ol {
  list-style-type: none;
}

dt {
  font-weight: 700;
}

ul li {
  list-style-type: circle;
  text-align: left;
}

.serving {
  font-style: italic;
}

.common {
  list-style-type: lower-greek;
}

li a {
  color: #8f2440;
  font-style: normal;
  text-decoration: none;
}

figcaption {
  font-family: 'PT Serif', serif;
  font-style: italic;
  text-align: center;
  color: #222;

}

.timeline {
  font-weight: 700;
}

p {
  color: #222;
  font-family: 'PT Serif', serif;
}

strong {
  font-weight: normal;
}

blockquote {
  font-size: 1.5rem;
  font: 'PT Serif', serif;
  font-style: italic;
}

cite {
  font-size: 0.8rem
  font-family: 'PT Serif', serif;
}

.wiki {
  text-decoration: none;
  color: #8f2440;
}
