body {
  background-color: #c9b5ab;
  font-family: 'PT Serif', serif;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.5;
}
h1, h2 {
  color: #3f1622;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.125rem;
}

nav {
  font-size: 1.125rem;
  color: #8f2440;
}

p {
  color: #222222
}

cite {
  font-size: 0.8rem
}
